.header {
  position: fixed;
  z-index: 99;
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 10px 15px;

  background-color: rgba($color: #050505, $alpha: 0.8);
  backdrop-filter: blur(3px);
}

.search-form {
  display: inline-block;
  margin: auto;
  height: 100%;
}

.input {
  height: 100%;
  border-radius: 4px;
  border: none;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  font-size: 16px;
}

.submit-btn {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 3px 10px;
  border-radius: 4px;
  border: none;
  background-color: rgba($color: #ffffff, $alpha: 0.8);

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }
  &:disabled {
    pointer-events: none;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    color: #ffffff;
  }
}
